.item-container {
    box-shadow: 0px 15px 30px rgba(210, 210, 211, 0.12);
    margin-top: 40px;
    padding: 0px 10px 100px 10px;
    background-color: #ffffff;
    display: flex;
    flex: 50% 50%;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 15px 30px rgba(210, 210, 211, 0.12);
}

.label {
    color: #2c255c;
    font-size: 20px;
    font-weight: 900;
    padding: 30px 0px 5px 30px;
}
.name {
    max-width: 450px;
    width: 100%;
    min-height: 42px;
    background-color:  #e6e6e6;
    color: lightslategrey;
    margin-left: 30px;
    padding: 10px 0px 10px 10px;
    font-size: 20px;
    border-radius: 5px;
}
.flex-left{
    width: 100%;
}
.flex-right{
    width: 100%;
}
.image {
    max-width: 450px;
    width: 100%;
    max-height: 300px;
    border: 1px solid gray;
    margin-left: 30px;
    border-radius: 5px;
}
.select{
    background-color: #e6e6e6;
    margin-left: 30px;
    max-width: 450px;
    width: 100%;
    border-radius: 5px;
    padding: 10px 0px 10px 10px;
    color: lightslategrey;
    font-size: 18px;
    & option {
        font-size: 18px;
    }
}
.back-btn{
    margin-top: 185px;
    max-width: 200px;
    padding: 20px;
    background-color: #2c255c;
    margin-left: 275px;
    margin-right: 20px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 32px;
    font-weight: 500;
    cursor: pointer;
}

@media (max-width:1200px){
    .select{
        max-width: 400px;
    }
    .name {
        max-width: 400px;
    }
    .image{
        max-width: 400px;
        & img{
            max-width: 400px;
        }
    }
  }