<div class="container">
    <div class="item-container">
        <div class="flex-left">
            <div class="item-name">
                <p class="label">Course Name</p>
                <h3 class="name">{{item.name}}</h3>
            </div>
            <div class="item-image">
                <p class="label">Course card image</p>
                <div class="image"><img src="" alt="" /></div>
            </div>
        </div>
        <div class="flex-right">
            <div class="item-status">
                <p class="label">Course Status</p>
                <select name="status" id="status" class="select">
                    <option value="draft">DRAFT</option>
                </select>
            </div>
            <div class="item-instructor">
                <p class="label">Instructor</p>
                <select name="status" id="status" class="select">
                    <option value="draft">John Connor</option>
                </select>
            </div>
        </div>
    </div>
</div>
