<div class="container">
  <div class="list-container">
    <!--------------------------------- TOBPBAR -------------------------------->
    <div class="list-topbar">
      <div class="select-box">
        <label for="selectOptions">Filter by:</label>
        <select
          required
          id="selectOptions"
          name="selectOptions"
          class="select"
          [(ngModel)]="statusSelected"
          (ngModelChange)="onStatusSelected($event)"
        >
          <option *ngFor="let status of statusOption" [value]="status.Name"> {{status.Name}} </option>
        </select>
        <button>Clear</button>
      </div>
      <div class="search-box">
        <input
          type="search"
          name="course-search"
          id="course-search"
          placeholder="Search courses"
          [(ngModel)]="searchTerm"
        />
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
    </div>
    <!------------------------------- END OF TOPBAR ---------------------------------------->
    <!------------------------------ LIST TABLE HEADER ------------------------------------>
    <div class="table-container">
      <div class="table-row table-header">
        <div class="table-row_left">
          <div class="table-row_cell">ID</div>
          <div class="table-row_cell">Image</div>
          <div class="table-row_cell">Name</div>
        </div>
        <div class="table-row_right">
          <div class="table-row_cell">Status</div>
        </div>
      </div>
    </div>
    <!------------------------------ END OF LIST TABLE HEADER ------------------------------------>


    <!------------------------------ DISPLAYING FETCHING DATA ERRORMESSSAGE ------------------------------------>
    <h2>{{errorMsg}}</h2>
    <!------------------------------ DISPLAYING FETCHING DATA ERRORMESSSAGE ------------------------------------>



    <!------------------------------ LIST TABLE ITEM ------------------------------------>
    <div class="table-row" *ngFor="let course of filteredCourses">
      <div class="table-row_left">
        <div class="table-row_cell id">{{course.id}}</div>
        <div class="table-row_cell">
          <img src={{course.imageUrl}} alt="course image" />
        </div>
        <div class="table-row_cell name"><a [routerLink]="['/courses/' + course.id]">{{course.name}}</a></div>
      </div>
      <div class="table-row_right">
        <div class="table-row_cell status"><div>{{course.status}}</div></div>
      </div>
    </div>
    <!------------------------------ END OF LIST TABLE ITEM ------------------------------------>
  </div>
</div>
